@import url('https://fonts.googleapis.com/css?family=Atma:700|Gaegu&display=swap');


.App {
    overflow-y: scroll;
    height: 750px;
}

.App header {
    font-size: 70px;
    text-align: center;
}

.Separate {
    width: 100%;
    background: #f3f4f7;
    font-family: 'Atma', cursive;
    border-radius: 10px;
    padding: 20px;
    float: left;
    box-shadow: 0 0 3px #d5d6dc inset;
    position: relative;
    box-sizing: border-box;
}

.Separate:hover {
    box-shadow: 0 0 3px #d5d6dc;
}

.Separate:active {
    box-shadow: 0 0 0 0;
}

.SearchBar {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5%;
    font-family: 'Gaegu', cursive;
    font-size: 50px;
    height: 50px;
    width: 100%;
    background-image: url("./search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5%;


}

.ImageDisplay {
    width: 300px;
    float: left;
    padding-right: 20px;
}

.TextOnCard {
    font-size: 30px;
    text-align: left;
}

.DisplayTrueName {

    font-size:50px;
    font-family: 'Gaegu', cursive;

}

.DisplayName {
    font-size: 20px;
    padding-right: 10px;
    line-height: 26px;
}

.BlockL {
    display: flex;
}

.bars {
    flex-grow: 1;
}

.Container {
    height: 26px;
    background-color: #f3701a; 
    border-radius: 100px;
    margin-top: 20px;
}

.Outside {
    background-color: #e4e4e4; 
    width: 100%;
    height: 26px;
    border-radius: 100px;
}

.skills {
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: Black; /* White text color */
  }

.button {
    font-size: 30px;
    cursor: pointer;
    color: brown;
    float: right;
    display: none;
    padding-right: 20px;
}

.HoverForAdding:hover .button {
    display: inline-block;
    position: absolute;
    right: 0;
}

.small {
    margin-top: -25px;
    text-align: center;

}

.Footer {
    cursor: pointer;
    background-color: #ec5656;
    color: white;
    bottom: 0px;
    height: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.Circle {
    cursor: pointer;
    background-color: #ec5656;  
    width: 160px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    font-size: 100px;
    text-align: center;
    bottom: 0px;
    height: 160px;
    border-radius: 100%;
}

.Modal {
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 40px;
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.Backdrop {
    position: absolute;
    background: #000000a3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 8;
}

.PokemonImage {
    width: 180px;
}
.PokemonImage img {
    width: 100%;
}

.Happy {
    width: 50px;
    margin-right: 5px;
}

.Contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Block {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;

}